#include <windows.h>
#include "resource.h"

IDD_DIALOG DIALOG 5, 50, 100, 80
STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Running..."
FONT 14, "Microsoft YaHei"
BEGIN
END

IDD_5TEST DIALOG 5, 50, 100, 80
STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "全场测试"
FONT 14, "Microsoft YaHei"
BEGIN
END

IDD_ROWS DIALOG 103, -15, 90, 13
STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "调整行"
FONT 14, "Microsoft YaHei"
BEGIN
END

IDD_DATA DIALOG 103, -15, 106, 13
STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "修改内存数据"
FONT 14, "Microsoft YaHei"
BEGIN
END

IDM_MENU MENU
BEGIN
	POPUP "设置"
	BEGIN
		MENUITEM "加速", IDM_SPEED
		MENUITEM "保守加速", IDM_HALFSPEED
		MENUITEM "启用DLL(全场)", IDM_DLL
		MENUITEM "攻击间隔处理(单行)", IDM_DELAYINF
	END
	POPUP "工具"
	BEGIN
		MENUITEM "调整行...", IDM_ROWS
		MENUITEM "修改...", IDM_DATA
		MENUITEM "卡片不消失", IDM_CARD
		MENUITEM "ShowMe修复", IDM_SHOWME
	END
	POPUP "帮助"
	BEGIN
		MENUITEM "单行帮助...", IDM_HELP
		MENUITEM "全场帮助...", IDM_HELP5
		MENUITEM "字符对照表...", IDM_CHAR
		MENUITEM "关于...", IDM_ABOUT
	END
END 

IDR_CODE RCDATA "code"
IDR_CODE5 RCDATA "code5"

ICON_BRAIN ICON "brain.ico"